<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"hks-standard-page hks-about-page","layout":{"type":"default"}} -->
<main id="main-content" class="wp-block-group alignfull hks-standard-page hks-about-page"><!-- wp:hks-wayfinder/page-title /-->

<!-- wp:pattern {"slug":"hks-wayfinder/about-story"} /-->

<!-- wp:hks-wayfinder/about-contact /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
